


#name{
    display: flex;
    justify-content: space-between;
}

.name-ath{
    margin-top: 50px;
    margin-left: 150px;
}

.download-btn{
    margin-top: 38px;
    margin-right: 166px;
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
}

/* section-1-style */

#section-1{
    margin-top: 50px;
    width: 100%;
    height: 650px;
    /* border: 20px solid red; */
    background-image: url(../assets/Hero-bg.png);
}

.section-1{
    margin: 30px 221px 44px 221px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 998px;
    height: 582px; */
    /* border: 1px solid red; */
    
    
}

.section-1-img {
    margin-top: 20px;
    width: 240px;
    height: 240px;
}

.section-1-title{
    width: 998px;
    height: 80px;
    font-size: 48px;
    text-align: center;
}

.section-1-sub-title{
    font-size: 16px;
    width: 852px;
    height: 52px;
    text-align: center;
    margin-bottom: 50px;
    color: #0D1321;
    opacity: 0.7;

    
}

.section-1-btn{
    background-color: #0D1321;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600px;
    padding: 21px 24px;
    border: none;
    border-radius: 5px;
}


/* section-2-style */

#section-2{
    width: 85%;
    margin: 0 auto;
    background-color: #a8e9ee;
    height: 1100px;
}

.section-2-title{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 80px;
}

.section-2-sub-title{
    font-size: 16px;
    text-align: center;
    opacity: 0.7;


}

.section-2-title-2{
    width: 390px;
    height: 50px;
    opacity: 0.7;
    rgba(13, 19, 33, 0.7)

}

.section-2-sub-title-2{
    width: 468px;
    height: 52px;
    opacity: 0.7;

}

.section-2-btn{
    margin-top: 20px;
    margin-left: 10px;
}

.section-2-img{
    width: 274px;
    height: 140px;
}

/* section-div */
.section-div-1{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    margin-top: 100px;
}

/* section-3-style */

.section-3{
    
}

.section-3-title{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

.section-3-sub-title{
    text-align: center;
    opacity: 0.7;

}