


#name{
    display: flex;
    justify-content: space-between;
}

.name-ath{
    margin-top: 50px;
    margin-left: 150px;
}

.download-btn{
    margin-top: 38px;
    margin-right: 166px;
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
}

/* section-1-style */

#section-1{
    margin-top: 50px;
    width: 100%;
    height: 650px;
    /* border: 20px solid red; */
    background-image: url(../assets/Hero-bg.png);
}

.section-1{
    margin: 30px 221px 44px 221px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 998px;
    height: 582px; */
    /* border: 1px solid red; */
    
    
}

.section-1-img {
    margin-top: 20px;
    width: 240px;
    height: 240px;
}

.section-1-title{
    width: 998px;
    height: 80px;
    font-size: 48px;
    text-align: center;
}

.section-1-sub-title{
    font-size: 16px;
    width: 852px;
    height: 52px;
    text-align: center;
    margin-bottom: 50px;
    color: #0D1321;
    opacity: 0.7;

    
}

.section-1-btn{
    background-color: #0D1321;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600px;
    padding: 21px 24px;
    border: none;
    border-radius: 5px;
}


/* section-2-style */

#section-2{
    width: 85%;
    margin: 0 auto;
    background-color: #E7ECFF;
    height: 1450px;
}

.section-2-1{
    margin: 85px 97px;
}

.section-2-title{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 80px;
}

.section-2-sub-title{
    font-size: 16px;
    text-align: center;
    opacity: 0.7;


}

.section-2-title-2{
    width: 390px;
    height: 50px;
    opacity: 0.7;
    rgba(13, 19, 33, 0.7)

}

.section-2-sub-title-2{
    width: 468px;
    height: 52px;
    opacity: 0.7;

}

.section-2-btn{
    margin-top: 20px;
    margin-left: 10px;
}

.section-2-img{
    width: 274px;
    height: 140px;
}

/* section-div */
.section-div-1{
    display: flex;
    /* justify-content: ; */
    /* border: 1px solid red; */
    margin-top: 100px;
    background-color: #ADC8F7;
    border-radius: 8px;
}

.section-div-2{
    padding: 58px 0px 57px 48px;
}

.section-div-img-2{
    padding: 58px 0px 57px 48px;
}

.section-div-mid{
    padding: 58px 149px 58px 25px;
}

.section-div-mid-img{
    padding: 48px 0px 48px 48px;
}

.section-2-mid-btn{
    margin-top: 35px;
    margin-left: 12px;
}

/* section-3-style */

.section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-3-title,.section-4-title{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

.section-3-sub-title,.section-4-sub-title{
    text-align: center;
    opacity: 0.7;

}

.section-3-video{
    width: 1000px;
    height: 500px;
    border: 1px solid red;
    margin-top: 50px;
}

/* section-4-style */

#section-4-box{
    
    align-items: center;
    gap: 20px;
    display: flex;
    justify-content:center
    
}

.section-4-box{
    position: static;
    width: 300px;
    height: 210px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    margin-top: 48px;
}

.section-box-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 10px;
text-align: left;
}


.section-4-box-sub-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}

/* section-5 */

#section-5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.section-5{
width: 1140px;
height: 313px;
background-image: url(../assets/handshake.jpg);
border-radius: 10px;
}

.section-5-title{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.section-5-sub-title{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.submit{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggest{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
width: 548px;
height: 57px;
}

.Submit{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 57px;
    font-size: 20px;
font-weight: 600;
line-height: 23px;
    margin-left: 10px;
}

/* footer-title */
 footer{
    margin-top: 50px;
    width: 1140px;
    height: 100px;
    background: rgba(13, 19, 33, 0.03);
 }
.footer-title{
color: rgb(13, 19, 33);
font-size: 20px;
margin-left: 150px;
margin-top: 42px;
}

.footer-div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.link-footer{
    margin-right: 100px;
    margin-top: 32px;
    display: flex;
    gap: 15px;
}